<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
    <a href="create/">New</a>
    {% for person in people %}
        <p>{{person.name}}</p>
        <p>{{person.age}}</p>
        <br/>
    {% endfor %}
</body>
</html>